<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/home/login.css">
    <script src="/js/home/register.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <div>Welcome</div>
            <input id="id" type="text" placeholder="username"/>
            <input id="name" type="text" placeholder="username"/>
            <input id="password" type="password" placeholder="password"/>
            <input id="confirm-password" type="password" placeholder="password"/>            
            <button id="button">SIGN UP</button>
            <p class="message">Already registered? <a href="/login">Login</a></p>
          </form>
        </div>
      </div>
</body>
</html>


<!--Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->